<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar1.css' %}">


</head>

<body>

<nav class="nav1">
    <div class="sidebar-top">

        <div class="expand-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                 stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 7l5 5l-5 5"></path>
                <path d="M13 7l5 5l-5 5"></path>
            </svg>
        </div>
    </div>
    <div class="sidebar-links">

        <a title="Messages">
            <img src="/static/img/no-profile-picture.svg" class="imgclass">
            <span class="link hide"><h1>BIENVENIDO:</h1></span>

        </a>
    </div>
    <ul id="prof_div_1_div_info" class="profile_info_container">
        <li id="profile_name">
            {{ user.nombre }} {{ user.apellido }}
        </li>
        <li id="profile_email" style="text-transform:lowercase">
            {{ user.correo}}
        </li>
        <li id="profile_phone" style="text-transform:lowercase">
            {{ user.telefono }}
        </li>
    </ul>
</nav>


<!-- header section starts  -->

<div class="content">
    <header class="header">

        <a href="/" class="logo">
            <img src="/static/img/1_LOGO.jpg" alt="">
        </a>

        <div class="icons">
            {% comment %} <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div> {% endcomment %}
            <div><a href="/" style="color:#ffff"><i class="fa-solid fa-house"></i></a></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>


        <!-- Items del carrito -->

        <!--<div id="contenedor_carrito" class="cart-items-container">

              <div id="item1" class="cart-item">
                  <span class="fas fa-times"></span>
                  <img src="/static/img/cart-item-1.png" alt="">
                  <div class="content">
                      <h3 id="nombre">cart item 01 X<span id="item_cantidad">10</span></h3>
                      <div class="price">$15.99</div>
                  </div>
              </div>
              <a href="#" class="btn">checkout now</a>
          </div>-->


        <!-- Inicio la edición -->

        <div id="prof_div_1" class="profile_container">
            <div id="prof_div_1_div_img" class="img_container">
                <img class="profile_picture" id="logo-header" src="/static/img/1.1_home.jpg">
            </div>

            <div>
                <a class="btn" id="btn-logout"
                   href="{% url 'logout' %}">Cerrar sesión</a>
            </div>

            <!-- Imagen tomada de: https://uxwing.com/no-profile-picture-icon/ -->
        </div>


    </header>


    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>NOMAD RESTAURANTE</h3>
            <p>
                El restaurante NOMAD se enfoca en brindar las mejores Hamburguesas, dejando una exquisita
                sensacion y satisfaccion a nuestro publico, motivado por la delicioso de nuestros productos.
            </p>
        </div>

    </section>

    <!-- about section ends -->

    <!-- menu section starts  -->

    <section class="menu" id="menu">
        <h1 class="heading"> Nuestro <span>menu</span></h1>
        <div class="box-container">
            {% for producto in productos %}
                <div id="producto{{ producto.id }}" class="box" onclick="goToProduct({{ producto.id }})">
                    <img src="{{ producto.imagen.url }}" alt="">
                    <h3>{{ producto.nombre }}</h3>
                    <p class="descripcion">
                        {{ producto.descripcion }}
                    </p>
                    <div id="price{{ producto.id }}" class="price">${{ producto.precio }}</div>
                    <input type="button" class="btn" onclick="añadirAlCarrito('{{ producto.id }}')"
                           value="añadir al carrito">
                    <input type="button" class="btn" value="compra inmediata">
                </div>
            {% endfor %}
        </div>

    </section>

    <footer>
        <ul class="footer">
            <li>Taller de programacion 2</p>
            <li>Esteban Mazo serna</p>
            <li>Contacto: 3142930804</p>
        </ul>
    </footer>
</div>
<nav class="nav2">

    <div class="sidebarinks1">

        <a title="Messages">
            <div id="prof_div_1_div_info" class="profile_info_container">
                <h4 id="profile_name"></h4>
                <h4 id="profile_email" style="text-transform:
                  lowercase"></h4>
            </div>
            <img src="/static/img/H_chicharroncaramelizado.png" class="imgclass1">
            <span class="link"><h2>Gran promocion:</h2>
                <span><h2>20% de descuento</h2></span>
               <span><h1>Hamburguesa chicharron caramelizado</h1></span>
                </span>
        </a>

    </div>

</nav>


<script src={% static 'js/scripts.js' %}></script>
<script src={% static 'js/navbar1.js' %}></script>
<script>
    function goToProduct(productId){
        console.log("clicking product");
        window.location.href = "/product/" + productId;
    }
</script>

</body>


</html>