<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- <script src="js/scripts.js"></script> -->
  </head>
  <body>
    <div class="contenedor-form">
      <div class="enlace">
        <a class="toggle_text" href="/registro"> Crear Cuenta</a>
      </div>
        <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm" method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <small style="color:red;">
                {{ estado }}
              </small>
              {{ loginForm.correo }}
              {{ loginForm.password }}
              <button class="iniciar_sesion_button" type="submit">
                  Iniciar sesión
              </button>
              <!-- <input class="iniciar_sesion_button" type="submit" onclick="iniciarSesion()" value="Iniciar Sesión"> -->
            </form>
        </div>

      <!--<div class="reset-password">
            <a href="#">Olvide mi Contraseña?</a>
        </div> -->
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <footer lang="en">
        <ul class="footer">
          <li>Taller de programacion 2</li>
          <li>Esteban Mazo serna</li>
          <li>Contacto: 3142930804</li>
        </ul>
  
    </footer>
  </body>

</html>
