{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>registro</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- <script src="js/scripts.js"></script> -->
  </head>
  <body>
    <div class="contenedor-form">
      <div class="enlace">
        <a class='toggle_text' href="/login">Iniciar sesión</a>
      </div>

      <div class="formulario">
        <h2>Crea tu Cuenta</h2>
        <form id="registroForm" method="POST">
          {% csrf_token %}
          {{ registroForm.cedula }}
          {{ registroForm.nombre }}
          {{ registroForm.apellido1 }}
          {{ registroForm.apellido2 }}
          {{ registroForm.correo }}
          <small style='color:red;'>
            {{ correoError }} 
          </small>
          {{ registroForm.password }}
          <small style='color:red;'>
            {{ passwordError }} 
          </small>
          {{ registroForm.conf_pass }}
          {{ registroForm.telefono }}
{#          <label>Es administrador: {{ registroForm.is_superuser }}</label>#}
          <button class="registrarse_button" type="submit">
            Registrarse
          </button>
        </form>
      </div>
      <!--<div class="reset-password">
            <a href="#">Olvide mi Contraseña?</a>
        </div> -->
    </div>
    <!-- <script src="js/jquery-3.1.1.min.js"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
  <footer lang="en">
      <ul class="footer">
        <li>Taller de programacion 2</p>
        <li>Esteban Mazo serna</p>
        <li>Contacto: 3142930804</p>
      </ul>

  </footer>
</html>
